<style type="text/css" >
* {
    font-family: Arial !important;
}
*[disabled=disabled] {
    /* your style */
    background-color: white !important;
    opacity: 1;
    font-weight: bold;
    color : black;
}
input[type="checkbox" i]:disabled {
    background-color : black !important;
    opacity : 1 !important;
    border-color : black !important;
    color: black;
}

.main_table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1100px;
}

    .main_table * {
        border-collapse: collapse;
        padding: 0px !important;
        margin: 0px !important;
    }

    .main_table div {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
    }

.evaluation_main_table {
    border-collapse: collapse;
}

    .evaluation_main_table th {
        background-color: #0080ff;
        font-weight: bold;
        color: white;
        height: 30px;
        padding: 3px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .evaluation_main_table td {
        border: 1px solid black;
        padding: 2px 0px 2px 6px;
    }



.evaluation_main_table {
    border: 3px solid black;
    width: 1100px !important;
}

    .evaluation_main_table td:first-child,
    .evaluation_main_table th:first-child {
        background-color: lightgray;
    }

    .evaluation_main_table th:nth-child(2) {
        border-right: 2px solid black;
    }

    .evaluation_main_table th:nth-child(3),
    .evaluation_main_table th:nth-child(4),
    .evaluation_main_table th:nth-child(5) {
        border-left: 1px groove black;
        border-right: 1px groove black;
    }

    .evaluation_main_table th:nth-child(6),
    .evaluation_main_table td:nth-child(6) {
        border-right: 2px solid black;
    }

    .evaluation_main_table th:nth-child(2) {
        text-align: left;
        border-left: none !important;
    }

    .evaluation_main_table td:nth-child(2) {
        text-align: left;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

.skill_categ th:first-child {
    background-color: #0080ff !important;
}

.th_skills {
    width: 20px;
}

.explanation_table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1100px !important;
}

    .explanation_table th {
        background-color: #0080ff;
        font-weight: bold;
        color: white;
        height: 30px;
        padding: 3px;
        border-bottom: 1px solid black;
    }

    .explanation_table td {
        padding: 3px;
        border: 1px solid black;
    }

.notes_table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1100px !important;
    height: 300px;
}

    .notes_table th {
        background-color: #0080ff;
        font-weight: bold;
        color: white;
        height: 30px;
        padding: 3px;
        border-bottom: 1px solid black;
        text-align: center;
    }

.additionalcomments_table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1100px !important;
    height: 300px;
}

    .additionalcomments_table th {
        background-color: #0080ff;
        font-weight: bold;
        color: white;
        height: 30px;
        padding: 3px;
        border-bottom: 1px solid black;
        text-align: center;
    }

.studentcomments_table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1100px !important;
    height: 300px;
}

    .studentcomments_table th {
        background-color: #0080ff;
        font-weight: bold;
        color: white;
        height: 30px;
        padding: 3px;
        border-bottom: 1px solid black;
        text-align: center;
    }

.reportversion_div {
    align-self: center;
}

    .reportversion_div td {
        border: 1px solid black;
        padding: 5px;
    }

.CommentBoxes {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 500px;
    padding-top: 10px;
    border: none;
    resize: none;
}

.submit_button {
    float: left;
    background-color: #a52a2a	;
    font-weight: bold;
    font-size: medium;
    color: white;
    width: 1100px;
    height: 50px;
    border: 2px solid black;
}

.errorbox {
    width: 500px;
    height: 50px;
    background-color: lightgray;
    color: black;
    font-size: x-large;
    border: 2px solid red;
    text-align: center;
    padding: 10px;
}

.rad_prebrief_comment {
    width: 50% !important;
    border: 1px !important;
}

</style >
