body {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt}
.page_number {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; padding-top: 10px; color: #000066}
.you_are_here {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000066; font-weight: bold; text-align: right}
.unit_contents {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; letter-spacing: normal; color: #000000}
.highlight {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FF0000}
.checklist_title {  font-family: Arial, Helvetica, sans-serif; font-size: 24pt; font-weight: bold; color: #000000; text-decoration: underline}
.checklist_subtitle { font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-weight: bold; color: #000000}
.checksheet_assist {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.ifneeded_comment {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.checklist_subtitle2 {  }
.checklist_subtitle2 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #000000 }
.10pointtext {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
.coloured_panel {  background-color: #FFFF00; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.highlight12point { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #FF0000 }
.highlight11point { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #FF0000 }
.bullet_blue_arrow { list-style-position: outside; list-style-image: url(images/bullet_blue_arrow.gif); cursor: hand }
.image_padding_right {  padding-left: 20px}
.layer_padding {  padding-right: 10px; padding-left: 10px; padding-top: 5px}
.image_padding_rightCopy { padding-left: 20px }
.bulletHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold}
.skip {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: none}
.unnamed1 {  }
.assist_bg {  background-image: url(images/assist.gif); background-repeat: no-repeat; background-position: 10px 140px}
.redBack {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; background-color: #FF0000}
.greenBack { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; background-color: #33FF00}
.unnamed2 {
	background-position: top;
}
.exitlink {  font-family: "Courier New", Courier, mono; font-size: x-large; font-style: normal; color: #666666; text-decoration: none; font-weight: bold}
.imageborder {  border: 1px #333333 solid; margin-top: 7px}
.coloured_panel12point { background-color: #FFFF00; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.coloured_panel14point { background-color: #FFFF00; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.tableborder {  border: thick #333333}
.border {  border: 1px #000000 solid; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px}
